a{
  text-decoration: none;
  color: black;
}
.navbar{
  background-color: rgba(10, 10, 10, 0.6);
  box-shadow: 0px 0px 7.5px 0px ;
  padding-top: 0%;
}
.navbar .navbar-nav .nav-item a{
  font-size: 18px;
  color:white;
}
.navbar .navbar-nav .nav-item a::after{
  content: '';
  width: 0;
  height: 2px;
  display: block;
  background-color: white;
  transition: width .5s ease-in;
}
.navbar .navbar-nav .nav-item a:hover::after {
  width: 100%;
}
.navbar-brand{
  color: white;
  font-size: 24px;
  font-family: 'Courgette', cursive;
}
.navbar-brand:hover {
  color: white;
}
.navbar .navbar-toggler {
  color: white;
  border-color: white;
}
footer{
  height: auto;
  box-shadow: 0px -1.8px 5.5px 0px rgba(214, 201, 204, 0.911);
}
.footerHeading{
  margin-top: 10%;
  font-size: 30px;
  font-family: 'Courgette', cursive;
}

.footerLinks{
  margin-top: 2.5%;
}
.footerLinks h5{
  font-weight: 700;
}
.footerLinks li{
  font-weight: 450;
  font-size: 20px;
}
.footerLinks i{
  font-size: 35px;
}

@media only screen and (max-width: 576px) {
  
}