{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="contianer-fluid healthAndFitnessContainer">
  <div class="container healthAndFintessContentBox">
    <h2 class="text-center pt-3 blogsPageTitle">Blogs and tips related to health and fitness.</h2>
    {% block blogContentContainer %}
      <div class="container-fluid blogsListCotnainer">
        <div class="row">
          {% if blogs %}
          {% for blogs in blogs %}
          <div class="col-md-5 blogsListSmallBox"> 
            <a href="{% url 'blogPage' pk=blogs.id %}">
              <div class="blogsListImageBox">
                <img class=" img-thumbnail" src="{{ blogs.img.url }}" >
              </div>
            </a> 
          </div>
          {% endfor %}
          {% endif %}
        </div>
    {% endblock %}
  </div>
</div>

{% endblock %}