{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/homePage.css' %}">
<link rel="stylesheet" href="{% static 'css/healthAndFitness.css' %}">
<link rel="stylesheet" href="{% static 'css/youtubePage.css' %}">
<title>Anuj Vlogs</title>
</head>
<body>
  
  {% block navbar %}
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <div class="container-fluid ms-5">
      <a class="navbar-brand" href="{% url 'index' %}">Anuj Vlogs</a>
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleMenu" 
        aria-controls="toggleMenu" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div id="toggleMenu" class="collapse navbar-collapse me-5">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a {%if request.path == '/'%}
            class="nav-link active"
            {% else %}
            class="nav-link "
            {%endif%}
            aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a {%if 'health/and/fitness' in request.path%}
            class="nav-link active"
            {% else %}
            class="nav-link "
            {%endif%}
            href="{% url 'healthAndFitness' %}">Health&Fitness</a>
          </li>
          <li class="nav-item">
            <a {%if 'anuj/youtube/videos' in request.path %}
            class="nav-link active"
            {% else %}
            class="nav-link "
            {%endif%} href="{% url 'youtubePage' %}">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  
  {% block content %}
  {% endblock %}
  
  {% block footer %}
    <!-- Footer -->
    <footer class="page-footer  bg-light bg-gradient pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Content -->
            <h5 class="text-uppercase footerHeading">Anuj Chaudhary Vlogs</h5>
            <p>Here you can see my personal daily vlog, health and fitness tips.</p>
          </div>
          <!-- Grid column -->
          <hr class="d-md-none d-lg-none">
          <!-- Grid column -->
          <div class="col footerLinks">
            <!-- Links -->
            <h5 class="text-uppercase">Quick Access</h5>
            <ul class="list-unstyled ">
              <li>
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'healthAndFitness' %}">Health and Fitness</a>
              </li>
              <li>
                <a href="{% url 'youtubePage' %}">Youtube shorts</a>
              </li>
              <li>
                <a href="{% url 'youtubePage' %}">Vlogs</a>
              </li>
            </ul>

          </div>
    

          <!-- Grid column -->
          <div class="col footerLinks">
            <!-- Links -->
            <h5 class="text-uppercase">Social Links</h5>
            <ul class="list-unstyled">
              <li>
                <a class="btn-floating btn-tw mx-1 bg-none">
                  <i class="fab fa-facebook" style="
                  color:#3b5998;"> </i>
                </a>
              </li>
              <li>
                <a class="btn-floating btn-tw mx-1" href="https://www.instagram.com/ankanuj/" target="_black">
                  <i class="fab fa-instagram" style="
                    color:#fbad50;"> </i>
                </a>
              </li>
              <li>
                <a class="btn-floating btn-tw mx-1" href="https://www.linkedin.com/in/anuj-chaudhary-63a37b149/" target="_blank">
                  <i class="fab fa-linkedin" style="
                    color:#0e76a8;"> </i>
                </a>
              </li>
              <li>
                <a class="btn-floating btn-tw mx-1" href="https://www.youtube.com/channel/UCeHiXktLlbHiJ0vOLEAauSw" target="_black">
                  <i class="fab fa-youtube" style="
                    color:#FF0000;" > </i>
                </a>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->
     
      <!-- Copyright -->
     <div class="footer-copyright text-center text-white bg-dark  py-3">© 2021 Copyright:
      <a href="{% url 'index' %} " class="text-white"> Anuj Chaudhary</a>
    </div>
    </footer>
     
    <!-- Copyright -->
    <!-- Footer -->
  {% endblock %}
</body>
</html>